<html>
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="page-header">
        <dl class="dl-horizontal">
            <dt/>
            <dd>
                <h2>{{package.name}}</h2>
            </dd>
            <br/>
            <dt>Spec</dt>
            <dd>
                <a href="{{ package.spec }}">{{ package.spec }}</a><br>
            </dd>


            <dt>JIRA</dt>
            <dd>
                <a href="{{ package.jira }}">{{ package.jira }}</a><br>
            </dd>
            <dt>
            <p/></dt>
            <dd/>

        </dl>
        <hr/>
        <dl class="dl-horizontal">
            <dt>Current Build</dt>
            <dd>
                {{package.version}}<br>
                {{date}}
            </dd>
        </dl>
        <dl class="dl-horizontal">

            <dt>NBC.com Dev</dt>
            <dd>
                <a href="/player.html">player.theplatform.com/p/yHjoOC/BdGYP_N32ljp/select/media/guid/2392245812/ba960fb870b05be81459fdd2581ddf7a?autoPlay=true</a><br>
            </dd>
            <p/></dt>

            <dt>
            <p/></dt>
            <dd/>
        </dl>
    </div>
</div>


</body>
</html>